:root {
  --color-primary: #5a3871;
  --color-primary-dark: #523367;
  --color-primary-light: #623d7b;
  --color-secondary: #4f7138;
  --color-secondary-dark: #486733;
  --color-secondary-light: #567b3d;
  --color-dark: #1b1c1e;
  --color-light: #fffefd;
  --color-gray: #bfc1c5;
  --color-gray-dark: #70747c;
  --color-gray-light: #dadbde;
  --color-border: #a4a7ad;
  --color-border-dark: #898d95;
  --color-border-light: #babcc1;
  --color-background: #e7e8ea;
  --color-background-dark: #dfe0e2;
  --color-background-light: #fff;
  /*--color-background-light: #eff0f1;*/
  --color-text: #27292b;
  --color-text-light: #898d95;
  --color-success: #32b643;
  --color-warning: #ffb700;
  --color-error: #e85600;
  --color-link: #5a3871;
  --color-link-dark: #3f274f;
  --color-link-light: #754993;
  --color-code: #575b61;
  --color-highlight: #ffe9b3;

  --font-family: "Exo", Verdana, sans-serif;
}