:root {
  --color-primary: #5a3871;
  --color-primary-dark: #523367;
  --color-primary-light: #623d7b;
  --color-secondary: #4f7138;
  --color-secondary-dark: #486733;
  --color-secondary-light: #567b3d;
  --color-dark: #1b1c1e;
  --color-light: #fffefd;
  --color-gray: #bfc1c5;
  --color-gray-dark: #70747c;
  --color-gray-light: #dadbde;
  --color-border: #a4a7ad;
  --color-border-dark: #898d95;
  --color-border-light: #babcc1;
  --color-background: #e7e8ea;
  --color-background-dark: #dfe0e2;
  --color-background-light: #eff0f1;
  --color-text: #27292b;
  --color-text-light: #898d95;
  --color-success: #32b643;
  --color-warning: #ffb700;
  --color-error: #e85600;
  --color-link: #5a3871;
  --color-link-dark: #3f274f;
  --color-link-light: #754993;
  --color-code: #575b61;
  --color-highlight: #ffe9b3;
  --margin-2xsmall: 4px;
  --margin-xsmall: 8px;
  --margin-small: 16px;
  --margin-medium: 32px;
  --margin-large: 64px;
  --margin-xlarge: 128px;
  --padding-2xsmall: 4px;
  --padding-xsmall: 8px;
  --padding-small: 16px;
  --padding-medium: 32px;
  --padding-large: 64px;
  --padding-xlarge: 128px;
  --width-small: 150px;
  --width-medium: 300px;
  --width-large: 450px;
  --width-xlarge: 600px;
  --width-2xlarge: 750px;
  --height-small: 150px;
  --height-medium: 300px;
  --height-large: 450px;
  --height-xlarge: 600px;
  --height-2xlarge: 750px;
  --gap-small: 16px;
  --gap-medium: 32px;
  --gap-large: 64px;
  --border-radius-2xsmall: 4px;
  --border-radius-xsmall: 8px;
  --border-radius-small: 16px;
  --border-radius-medium: 32px;
  --border-radius-large: 64px;
  --border-width: 2px;
  --border-width-thin: 1px;
  --border-width-thick: 4px;
  --font-family: "Open Sans", Verdana, sans-serif;
  --font-family-heading: var(--font-family);
  --font-family-code: "Source Sans Pro", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  --font-family-blockquote: var(--font-family);
  --font-family-drop-cap: var(--font-family);
  --font-size-xsmall: 0.5rem;
  --font-size-small: 0.75rem;
  --font-size: 16px;
  --font-size-heading-h5: 1.25rem;
  --font-size-heading-h4: 1.5rem;
  --font-size-heading-h3: 1.75rem;
  --font-size-heading-h2: 2rem;
  --font-size-heading-h1: 2.5rem;
  --line-height: 1.5;
  --line-height-heading: 1.2;
  --heading-space-after: 1rem;
  --heading-space-after: 0.75rem;
  --animation-duration: 1s;
  --animation-delay: 1s;
}

.dark {
  --color-primary: #555158;
  --color-primary-dark: #4d4a50;
  --color-primary-light: #5d5960;
  --color-secondary: #545851;
  --color-secondary-dark: #4c504a;
  --color-secondary-light: #5b6059;
  --color-border: white;
  --color-border-dark: white;
  --color-border-light: white;
  --color-background: #27292b;
  --color-background-dark: #202123;
  --color-background-light: #2e3033;
  --color-text: #e7e8ea;
  --color-text-light: white;
  --color-code: white;
  --color-link: #555158;
  --color-link-dark: #3b393d;
  --color-link-light: #6f6a72;
}